<mat-nav-list>
    <a mat-list-item routerLink="/" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon>
        <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/scrutinizer/classic" (click)="onSidenavClose()">
        <mat-icon>done</mat-icon>
        <span class="nav-caption">Escrutinio</span>
    </a>
    <a mat-list-item routerLink="/scrutinizer/elige8" (click)="onSidenavClose()">
        <mat-icon>check_circle_outline</mat-icon>
        <span class="nav-caption">Elige8</span>
    </a>
</mat-nav-list>